/* 0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet landscpae
1200 - 1800px is where normal styles apply
1800px + : Big desktop */
/* 
COLORS
Grey light 1: #F8F9FA
Grey light 2: #E9ECEF
Grey light 3: #DEE2E6
Grey light 4: #CED4DA
Grey light 5: #ADB5BD
Grey light 6: #6C757D
Grey light 7: #495057
Grey light 9: #343A40
Grey light 9: #212529

Orange: #ff4e35
Dark Blue: #0d3b66 */
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  /* box-sizing: border-box; */
  /* padding: 3rem; */ }

::selection {
  background-color: #ff4e35;
  color: #f8f9fa; }

/* 0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet landscpae
1200 - 1800px is where normal styles apply
1800px + : Big desktop */
@media only screen and (min-width: 0) {
  .navbar {
    display: none; } }

@media only screen and (min-width: 31.25em) {
  .navbar {
    display: none; } }

@media only screen and (min-width: 37.5em) {
  .navbar {
    display: none; } }

@media only screen and (min-width: 56.25em) {
  .navbar {
    display: flex; }
  #mobile-div {
    display: none; } }

@media only screen and (min-width: 68.75em) {
  .mobile-container {
    display: none; } }

@media only screen and (max-width: 75em) {
  .mobile-container {
    display: none; } }

.mobile-container,
.navmobile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin: auto;
  height: auto;
  color: #212529;
  margin-bottom: 2rem; }
  .mobile-container .topnav,
  .navmobile .topnav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #f8f9fa;
    position: relative;
    width: 100%;
    z-index: 999; }
    .mobile-container .topnav .mobile-links-container,
    .navmobile .topnav .mobile-links-container {
      width: 100vw; }
    .mobile-container .topnav #mobileLinks,
    .navmobile .topnav #mobileLinks {
      display: none;
      display: flex;
      position: absolute;
      flex-direction: column;
      background-color: #212529;
      margin-top: 2rem;
      padding-left: 2.2rem; }
    .mobile-container .topnav .mobile-links-border,
    .navmobile .topnav .mobile-links-border {
      border-bottom: solid 1px #343a40;
      width: 100vw; }
    .mobile-container .topnav a,
    .navmobile .topnav a {
      color: #f8f9fa;
      padding: 0.875rem 1rem;
      text-decoration: none;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 400;
      display: block; }
      .mobile-container .topnav a :hover,
      .navmobile .topnav a :hover {
        color: #495158; }
    .mobile-container .topnav a.icon,
    .navmobile .topnav a.icon {
      background-color: #f8f9fa;
      color: #212529;
      display: block;
      position: absolute;
      left: 1rem;
      top: 0; }
      .mobile-container .topnav a.icon span,
      .navmobile .topnav a.icon span {
        color: #212529;
        font-size: 1.5rem; }
        .mobile-container .topnav a.icon span :hover,
        .navmobile .topnav a.icon span :hover {
          color: #495158; }
    .mobile-container .topnav a:hover,
    .navmobile .topnav a:hover {
      color: #6c757d; }
    .mobile-container .topnav .active,
    .navmobile .topnav .active {
      padding-left: 0; }
  .mobile-container__logo,
  .navmobile__logo {
    display: flex;
    position: absolute;
    left: 45%;
    transform: translateX(-50%); }
  .mobile-container__logo-img,
  .navmobile__logo-img {
    max-width: 10rem; }
  .mobile-container__icons-and-menu,
  .navmobile__icons-and-menu {
    display: flex;
    position: absolute;
    right: 1rem; }
    .mobile-container__icons-and-menu__icons-and-menu-link,
    .navmobile__icons-and-menu__icons-and-menu-link {
      padding: 0; }
    .mobile-container__icons-and-menu span,
    .navmobile__icons-and-menu span {
      color: #212529;
      font-size: 1.5rem; }
      .mobile-container__icons-and-menu span a,
      .navmobile__icons-and-menu span a {
        max-height: 2rem; }
      .mobile-container__icons-and-menu span :hover,
      .navmobile__icons-and-menu span :hover {
        color: #495158; }

@media only screen and (min-width: 0) {
  .footer-container {
    display: none; }
  .footer-container-mobile {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .small-footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #6c757d;
    padding-top: 1rem; }
  .small-footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 72rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px solid #6c757d;
    padding-top: 1rem; } }

@media only screen and (min-width: 31.25em) {
  .footer-container {
    display: none; }
  .footer-container-mobile {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .small-footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 72rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px solid #6c757d;
    padding-top: 1rem; } }

@media only screen and (min-width: 37.5em) {
  .footer-container {
    display: none; }
  .small-footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 72rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px solid #6c757d;
    padding-top: 2rem; } }

@media only screen and (min-width: 56.25em) {
  .footer-container {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem; }
  .footer-container-mobile {
    display: none; } }

@media only screen and (min-width: 68.75em) {
  .footer-container {
    display: grid;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem; }
  .small-footer-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 72rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem; }
  .footer-container-mobile {
    display: none; }
  .small-footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 72rem;
    border-top: 1px solid #6c757d;
    padding-top: 2rem; } }

@media only screen and (min-width: 75em) {
  .footer-container {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem; }
  .footer-container-mobile {
    display: none; }
  .small-footer-wrapper {
    align-self: center;
    justify-self: center; }
  .small-footer-copyright-info:last-child {
    padding-left: 40rem; } }

.navbar {
  background-color: #e9ecef;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .navbar__items {
    width: 72rem;
    margin-left: auto;
    margin-right: auto; }
  .navbar .items-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem 0 2rem;
    /* NAV PRIMARY */
    /* NAV SECONDARY */ }
    .navbar .items-wrapper .logo-container__link {
      display: flex;
      align-items: center; }
    .navbar .items-wrapper .logo-container__logo {
      height: 1.75rem;
      width: auto; }
    .navbar .items-wrapper__navbar-primary, .navbar .items-wrapper__navbar-secondary {
      padding-left: 2rem; }
      @media only screen and (min-width: 37.5em) {
        .navbar .items-wrapper__navbar-primary, .navbar .items-wrapper__navbar-secondary {
          padding-left: 1rem;
          padding-right: 1rem; } }
    .navbar .items-wrapper__navbar-primary, .navbar .items-wrapper__navbar-secondary {
      margin-left: 2rem; }
      .navbar .items-wrapper__navbar-primary ul, .navbar .items-wrapper__navbar-secondary ul {
        display: flex;
        flex-direction: row;
        list-style: none; }
        .navbar .items-wrapper__navbar-primary ul li, .navbar .items-wrapper__navbar-secondary ul li {
          padding: 0 0.75rem; }
          .navbar .items-wrapper__navbar-primary ul li a, .navbar .items-wrapper__navbar-secondary ul li a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: #212529;
            letter-spacing: 0.05em; }
          .navbar .items-wrapper__navbar-primary ul li :hover, .navbar .items-wrapper__navbar-secondary ul li :hover {
            color: #6c757d;
            transition-duration: 0.4s; }
    .navbar .items-wrapper__navbar-secondary a {
      font-weight: 500;
      color: #212529;
      text-decoration: none;
      text-transform: capitalize;
      letter-spacing: 0.05em;
      align-items: center; }
      .navbar .items-wrapper__navbar-secondary a :hover {
        color: #6c757d; }
    .navbar .items-wrapper__navbar-secondary-text {
      margin-left: 0.75rem; }
    .navbar .items-wrapper__icons-and-menu-link {
      padding: 0; }
    .navbar .items-wrapper span {
      color: #212529;
      font-size: 1.3rem; }
      .navbar .items-wrapper span a {
        max-height: 2rem; }
      .navbar .items-wrapper span :hover {
        color: #6c757d; }

/* SEARCH BAR */
.search-container {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: #0d3b66; }

.search-bar {
  max-width: 36rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 0) {
    .search-bar {
      padding-left: 1rem;
      padding-right: 1rem; } }

.search-wrapper {
  justify-content: center; }

.search-input {
  display: flex;
  flex-direction: inherit;
  align-items: center; }

.search-field {
  appearance: none;
  background-color: #f8f9fa;
  padding: 0.71rem 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.025em;
  line-height: 1.5;
  border-style: none;
  margin: 1.5rem 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  width: 100%; }

.search-field:focus {
  outline-width: 0; }

.search-field::placeholder {
  color: #6c757d;
  opacity: 1;
  /* Firefox */ }

.search-magnifier-container {
  background-color: #ff4e35;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem; }

.search-icon {
  color: #f8f9fa;
  height: 2.9rem;
  width: 2.9rem;
  padding: 0.7rem;
  margin-right: 0.5rem; }

/* FEATURED ALBUM CARDS */
.card-container,
.display-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0 2.5rem 2.5rem 2.5rem; }
  @media only screen and (min-width: 0) {
    .card-container,
    .display-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 1rem 1rem 2rem 1rem; } }
  @media only screen and (min-width: 31.25em) {
    .card-container,
    .display-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 1rem 1rem 2rem 1rem; } }
  @media only screen and (min-width: 37.5em) {
    .card-container,
    .display-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 1rem 1rem 2rem 1rem; } }
  @media only screen and (min-width: 56.25em) {
    .card-container,
    .display-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      padding: 1rem 1rem 2rem 1rem; } }

/* INDIVIDUAL ALBUM CARD */
* {
  box-sizing: border-box; }

.container {
  position: relative;
  width: 100%;
  max-width: 60rem; }

.image-card {
  display: block;
  width: 100%;
  max-width: 60rem;
  transition: transform 0.5s ease;
  max-width: 100%; }

.grow {
  display: inline-block;
  overflow: hidden; }

.grow img {
  transition: all 0.5s ease-in-out; }

.grow img:hover {
  transform: scale(1.1); }

.overlay-card {
  position: absolute;
  bottom: 0;
  background: #212529;
  background: rgba(33, 37, 41, 0.7);
  color: #f8f9fa;
  width: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  color: #f8f9fa;
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 0.2rem; }

.overlay-card h3 {
  padding-bottom: 0.75rem;
  text-transform: uppercase; }

.container:hover .overlay-card {
  opacity: 1; }

.cta-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-image: url(/img/painted-hands.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(33, 37, 41, 0.7); }
  @media only screen and (min-width: 0) {
    .cta-container {
      background-image: url(/img/painted-hands-600.jpg); } }
  @media only screen and (min-width: 31.25em) {
    .cta-container {
      background-image: url(/img/painted-hands-600.jpg);
      padding: 2.5rem; } }
  @media only screen and (min-width: 37.5em) {
    .cta-container {
      background-image: url(/img/painted-hands-600.jpg);
      padding: 2.5rem; } }
  @media only screen and (min-width: 56.25em) {
    .cta-container {
      background-image: url(/img/painted-hands-600.jpg);
      padding: 4rem; } }

.slider-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-image: url(/img/formula-1-img-1.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(33, 37, 41, 0.7); }
  @media only screen and (min-width: 0) {
    .slider-container {
      min-height: 60vh;
      background-image: url(/img/formula-1-600.jpg); } }
  @media only screen and (min-width: 31.25em) {
    .slider-container {
      min-height: 60vh;
      background-image: url(/img/formula-1-600.jpg); } }
  @media only screen and (min-width: 37.5em) {
    .slider-container {
      min-height: 80vh;
      background-image: url(/img/formula-1-600.jpg);
      padding: 2.5rem; } }
  @media only screen and (min-width: 56.25em) {
    .slider-container {
      min-height: 80vh;
      padding: 4rem; } }

.cta-text-wrapper,
.slider-text-wrapper {
  min-width: 85vw;
  /* max-width: 72rem; */ }

@media only screen and (min-width: 0) {
  .cta-text-wrapper {
    line-height: 1;
    padding: 3rem 0 3rem 2rem; } }

.cta-heading,
.slider-heading {
  color: #f8f9fa;
  font-size: 4rem;
  line-height: 1;
  font-weight: 800;
  padding-bottom: 2rem; }
  @media only screen and (min-width: 0) {
    .cta-heading,
    .slider-heading {
      font-size: 3.5rem;
      line-height: 1; } }
  @media only screen and (min-width: 31.25em) {
    .cta-heading,
    .slider-heading {
      font-size: 3.5rem;
      line-height: 1; } }
  @media only screen and (min-width: 37.5em) {
    .cta-heading,
    .slider-heading {
      font-size: 3.5rem;
      line-height: 1; } }

@media only screen and (min-width: 0) {
  .cta-heading {
    font-size: 2.5rem;
    line-height: 1.5; } }

.cta-paragraph,
.slider-paragraph {
  color: #f8f9fa;
  font-size: 1.55rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding-bottom: 1rem;
  max-width: 60vw; }

@media only screen and (min-width: 0) {
  .cta-paragraph {
    font-size: 1.5rem;
    line-height: 1.5; } }

.button-cta {
  background-color: #0d3b66;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #f8f9fa;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 1.8rem 0 0 0;
  transition-duration: 0.4s;
  cursor: pointer; }

.button-cta > a {
  text-decoration: none;
  color: #f8f9fa; }

.button-cta:hover {
  background-color: #ff4e35;
  color: #f8f9fa; }

.heading-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh; }

.heading-wrapper {
  min-width: 95vw; }

.heading {
  color: #212529;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 800;
  padding-left: 1rem;
  margin-top: 2rem; }
  @media only screen and (min-width: 0) {
    .heading {
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media only screen and (max-width: 31.25em) {
    .heading {
      font-size: 2.5rem;
      line-height: 1.2;
      margin-left: 2rem; } }
  @media only screen and (min-width: 37.5em) {
    .heading {
      font-size: 2.5rem;
      line-height: 1.2;
      padding-left: 2rem;
      margin-bottom: 1rem; } }
  @media only screen and (min-width: 56.25em) {
    .heading {
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 1rem; } }

.categories-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-bottom: 2.5rem;
  margin: 3rem 3rem;
  border-bottom: 1px solid #6c757d; }
  @media only screen and (min-width: 0) {
    .categories-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 2rem;
      margin: 0; } }
  @media only screen and (min-width: 31.25em) {
    .categories-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 2rem;
      margin: 0; } }
  @media only screen and (min-width: 37.5em) {
    .categories-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 1rem;
      margin: 0; } }
  @media only screen and (min-width: 56.25em) {
    .categories-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 2rem;
      margin: 2rem; } }
  @media only screen and (min-width: 68.75em) {
    .categories-container {
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 1rem 1rem 2rem 1rem;
      margin: 1rem 1rem 0 1rem; } }
  @media only screen and (min-width: 75em) {
    .categories-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      padding-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

.card-descriere-categorie {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow: hidden; }

.content-wrapper-descriere-categorie {
  padding: 1rem 1rem 1rem 0; }
  @media only screen and (min-width: 68.75em) {
    .content-wrapper-descriere-categorie {
      padding: 0; } }

.heading-descriere-categorie,
.album-title-small {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: left;
  font-weight: 700;
  color: #212529;
  text-transform: uppercase;
  margin-bottom: 1.75rem; }
  @media only screen and (min-width: 37.5em) {
    .heading-descriere-categorie,
    .album-title-small {
      margin-bottom: 0.5rem; } }
  @media only screen and (min-width: 56.25em) {
    .heading-descriere-categorie,
    .album-title-small {
      margin-bottom: 0.9rem; } }

.paragraph-descriere-categorie {
  color: #495158;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .paragraph-descriere-categorie {
      margin-bottom: 0.5rem;
      font-weight: 300;
      font-size: 1rem; } }
  @media only screen and (max-width: 56.25em) {
    .paragraph-descriere-categorie {
      margin-bottom: 0.5rem;
      font-weight: 300;
      font-size: 1rem; } }

.btn-descriere-categorie {
  margin-top: 0.75rem;
  margin-right: 0.25rem;
  font-size: 1rem;
  font-weight: 300; }

* {
  box-sizing: border-box; }

.container {
  position: relative;
  width: 100%;
  max-width: 60rem; }

.image-card {
  display: block;
  width: 100%;
  max-width: 60rem;
  transition: transform 0.5s ease;
  max-width: 100%; }

.grow {
  display: inline-block;
  overflow: hidden; }

.grow img {
  transition: all 0.5s ease-in-out; }

.grow img:hover {
  transform: scale(1.1); }

.overlay-card {
  position: absolute;
  bottom: 0;
  background: #212529;
  background: rgba(33, 37, 41, 0.7);
  color: #f8f9fa;
  width: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  color: #f8f9fa;
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 0.2rem; }

.overlay-card h3 {
  padding-bottom: 0.75rem;
  text-transform: uppercase; }

.container:hover .overlay-card {
  opacity: 1; }

/* Accordion */
.accordion-wrapper {
  display: block;
  margin: 1rem 4rem; }

.accordion__header {
  padding: 1em;
  background-color: #212529;
  color: #f8f9fa;
  border-top: 1px solid #6c757d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }

.accordion__header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase; }

.accordion__header.is-active {
  background-color: #212529;
  color: #fff; }

.accordion__toggle {
  margin-left: 10px;
  height: 3px;
  background-color: #f8f9fa;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px; }

.accordion__toggle::before {
  content: '';
  width: 3px;
  height: 13px;
  display: block;
  background-color: #f8f9fa;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px; }

.is-active .accordion__toggle {
  background-color: #f8f9fa; }

.is-active .accordion__toggle::before {
  display: none; }

.accordion__body {
  display: none;
  padding: 1em; }

.accordion__body.is-active {
  display: block;
  background-color: #212529; }

/* FOOTER MOBILE */
.footer-container-mobile {
  background-color: #212529; }

.footer-wrappermobile {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #343a40;
  padding-bottom: 0.75rem; }
  @media only screen and (min-width: 0) {
    .footer-wrappermobile {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr)); } }
  @media only screen and (min-width: 31.25em) {
    .footer-wrappermobile {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr)); } }
  @media only screen and (min-width: 37.5em) {
    .footer-wrappermobile {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr)); } }

.footer-offers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden; }

.footer-column {
  padding: 1rem 0.5rem 1.5rem 0; }

.footer-title-column {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.075em;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  color: #e9ecef;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

.footer-column-items {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  justify-content: left; }

.footer-column-item-link {
  color: #e9ecef;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.05em; }

.footer-column-item-link:hover,
.copyright-text-link:hover {
  color: #6c757d;
  transition-duration: 0.4s; }

/* SMALL FOOTER */
.small-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }
  @media only screen and (min-width: 0) {
    .small-footer-wrapper {
      display: flex;
      flex-direction: column; } }

.copyright-text {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: #e9ecef;
  font-weight: 300; }
  @media only screen and (min-width: 0) {
    .copyright-text {
      padding-bottom: 0.5rem; } }

.copyright-text-link {
  text-decoration: none;
  color: #ffff3f; }

.footer-container {
  background-color: #212529; }

.footer-wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #343a40;
  padding-bottom: 0.75rem; }

.footer-offers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden; }

.footer-column {
  padding: 1rem 0.5rem 1.5rem 0; }

.footer-title-column {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.075em;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  color: #e9ecef;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

.footer-column-items {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  justify-content: left; }

.footer-column-item-link {
  color: #e9ecef;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.05em; }

.footer-column-item-link:hover,
.copyright-text-link:hover {
  color: #6c757d;
  transition-duration: 0.4s; }

/* SMALL FOOTER */
.small-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }
  @media only screen and (min-width: 56.25em) {
    .small-footer-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 72rem;
      margin-left: 2rem;
      margin-right: 2rem; } }

.copyright-text {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: #e9ecef;
  font-weight: 300; }

.copyright-text-link {
  text-decoration: none;
  color: #ffff3f; }

/* SLIDER */
/* FOOTER */
