$color-primary: #0d3b66;
$color-secondary: #ff4e35;
$color-yellow: #ffff3f;

$color-grey-light-1: #f8f9fa;
$color-grey-light-2: #e9ecef;
$color-grey-light-3: #dee2e6;
$color-grey-light-4: #ced4da;
$color-grey-light-5: #adb5bd;
$color-grey-dark-6: #6c757d;
$color-grey-dark-7: #495057;
$color-grey-dark-8: #343a40;
$color-grey-dark-9: #212529;
$color-grey-dark-10: #495158;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-zero: 0;

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* box-sizing: border-box; */
  /* padding: 3rem; */
}

// ::selection {
//   background-color: $color-secondary;
//   color: $color-grey-light-1;
// }

/* Accordion */

.accordion-wrapper {
  display: block;
  margin: 1rem 4rem;
  // margin: auto;
}

.accordion__header {
  padding: 1em;
  background-color: $color-grey-dark-9;
  color: $color-grey-light-1;
  border-top: 1px solid $color-grey-dark-6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion__header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.accordion__header.is-active {
  background-color: $color-grey-dark-9;
  color: #fff;
}

.accordion__toggle {
  margin-left: 10px;
  height: 3px;
  background-color: $color-grey-light-1;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
}

.accordion__toggle::before {
  content: '';
  width: 3px;
  height: 13px;
  display: block;
  background-color: $color-grey-light-1;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px;
}

.is-active .accordion__toggle {
  background-color: $color-grey-light-1;
}
.is-active .accordion__toggle::before {
  display: none;
}

.accordion__body {
  display: none;
  padding: 1em;
  // border: 1px solid #ccc;
  // border-top: 0;
}
.accordion__body.is-active {
  display: block;
  background-color: $color-grey-dark-9;
}

// FOOTER ORIGINAL DESKTOP

/* FOOTER */
.footer-container {
  background-color: $color-grey-dark-9;
}

.footer-wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px $color-grey-dark-8;
  padding-bottom: 0.75rem;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  // 500px
  @media only screen and (min-width: $bp-smallest) {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.footer-offers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden;
}

.footer-column {
  padding: 1rem 0.5rem 1.5rem 0;
}

.footer-title-column {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.075em;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  color: $color-grey-light-2;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.footer-column-items {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-column-item-link {
  color: $color-grey-light-2;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.footer-column-item-link:hover,
.copyright-text-link:hover {
  color: $color-grey-dark-6;
  transition-duration: 0.4s;
}

/* SMALL FOOTER */
.small-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    display: flex;
    flex-direction: column;
  }
}

.copyright-text {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: $color-grey-light-2;
  font-weight: 300;

  @media only screen and (min-width: $bp-zero) {
    padding-bottom: 0.5rem;
  }
}

.copyright-text-link {
  text-decoration: none;
  color: $color-yellow;
}
