* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  /* box-sizing: border-box; */
  /* padding: 3rem; */ }

::selection {
  background-color: #ff4e35;
  color: #f8f9fa; }
