* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  /* box-sizing: border-box; */
  /* padding: 3rem; */ }

/* Accordeon */
.accordion-wrapper {
  display: block;
  margin: 1rem 4rem; }

.accordion__header {
  padding: 1em;
  background-color: #212529;
  color: #f8f9fa;
  border-top: 1px solid #6c757d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }

.accordion__header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase; }

.accordion__header.is-active {
  background-color: #212529;
  color: #fff; }

.accordion__toggle {
  margin-left: 10px;
  height: 3px;
  background-color: #f8f9fa;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px; }

.accordion__toggle::before {
  content: '';
  width: 3px;
  height: 13px;
  display: block;
  background-color: #f8f9fa;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px; }

.is-active .accordion__toggle {
  background-color: #f8f9fa; }

.is-active .accordion__toggle::before {
  display: none; }

.accordion__body {
  display: none;
  padding: 1em; }

.accordion__body.is-active {
  display: block;
  background-color: #212529; }

/* FOOTER */
.footer-container {
  background-color: #212529; }

.footer-wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #343a40;
  padding-bottom: 0.75rem; }
  @media only screen and (min-width: 0) {
    .footer-wrapper {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr)); } }
  @media only screen and (min-width: 31.25em) {
    .footer-wrapper {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr)); } }
  @media only screen and (min-width: 37.5em) {
    .footer-wrapper {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(1, minmax(0, 1fr)); } }

.footer-offers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden; }

.footer-column {
  padding: 1rem 0.5rem 1.5rem 0; }

.footer-title-column {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.075em;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  color: #e9ecef;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

.footer-column-items {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  justify-content: left; }

.footer-column-item-link {
  color: #e9ecef;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.05em; }

.footer-column-item-link:hover,
.copyright-text-link:hover {
  color: #6c757d;
  transition-duration: 0.4s; }

/* SMALL FOOTER */
.small-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }
  @media only screen and (min-width: 0) {
    .small-footer-wrapper {
      display: flex;
      flex-direction: column; } }

.copyright-text {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: #e9ecef;
  font-weight: 300; }
  @media only screen and (min-width: 0) {
    .copyright-text {
      padding-bottom: 0.5rem; } }

.copyright-text-link {
  text-decoration: none;
  color: #ffff3f; }
