.navbar {
  background-color: $color-grey-light-2;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__items {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;

    // @media only screen and (max-width: $bp-smallest) {
    //   margin-left: auto;
    //   margin-right: auto;
    //   min-height: 7rem;
    // }
  }

  .items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // LOGO
    .logo-container {
      padding-right: 2rem;
      &__link {
        display: flex;
        align-items: center;
      }
      &__logo {
        height: 1.75rem;
        width: auto;
      }
    }

    /* NAV PRIMARY */
    &__navbar-primary,
    &__navbar-secondary {
      padding-left: 2rem;

      @media only screen and (min-width: $bp-small) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    &__navbar-primary,
    &__navbar-secondary {
      margin-left: 0.75rem;
      margin-right: 0.75rem;

      & > ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        & > li {
          padding: 0 0.75rem;

          & > a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            color: #212529;
            letter-spacing: 0.05em;
          }
          & > a:hover {
            color: $color-grey-dark-10;
            transition-duration: 0.4s;
          }
        }
      }
    }
    /* NAV SECONDARY */
    &__navbar-secondary > ul > li > a {
      font-weight: 500;
      color: $color-grey-dark-9;
      text-decoration: none;
      text-transform: capitalize;
      letter-spacing: 0.05em;
      align-items: center;
    }

    &__navbar-secondary-text {
      margin-left: 0.75rem;
    }
  }
}

/* SEARCH BAR */
.search-container {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: $color-primary;
}

.search-bar {
  max-width: 36rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $bp-zero) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.search-wrapper {
  justify-content: center;
}

.search-input {
  display: flex;
  flex-direction: inherit;
  align-items: center;
}

.search-field {
  appearance: none;
  background-color: $color-grey-light-1;
  padding: 0.71rem 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.025em;
  line-height: 1.5;
  border-style: none;
  margin: 1.5rem 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  width: 100%;
}

.search-field:focus {
  outline-width: 0;
}

.search-field::placeholder {
  color: $color-grey-dark-6;
  opacity: 1;
  /* Firefox */
}

.search-magnifier-container {
  background-color: $color-secondary;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.search-icon {
  color: $color-grey-light-1;
  height: 2.9rem;
  width: 2.9rem;
  padding: 0.7rem;
  margin-right: 0.5rem;
}

/* FEATURED ALBUM CARDS */
.card-container,
.display-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0 2.5rem 2.5rem 2.5rem;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1rem 1rem 2rem 1rem;
  }

  // 500px
  @media only screen and (min-width: $bp-smallest) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1rem 1rem 2rem 1rem;
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 1rem 1rem 2rem 1rem;
  }

  // 900px
  @media only screen and (min-width: $bp-medium) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 1rem 1rem 2rem 1rem;
  }
}

/* INDIVIDUAL ALBUM CARD */
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  max-width: 60rem;
}

.image-card {
  display: block;
  width: 100%;
  max-width: 60rem;
  transition: transform 0.5s ease;
  max-width: 100%;
}

.grow {
  display: inline-block;
  overflow: hidden;
}

.grow img {
  transition: all 0.5s ease-in-out;
}

.grow img:hover {
  transform: scale(1.1);
}

.overlay-card {
  position: absolute;
  bottom: 0;
  background: $color-grey-dark-9;
  background: rgba($color-grey-dark-9, 0.7);
  color: $color-grey-light-1;
  width: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  color: $color-grey-light-1;
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 0.2rem;
}

.overlay-card h3 {
  padding-bottom: 0.75rem;
  text-transform: uppercase;
}

.container:hover .overlay-card {
  opacity: 1;
}

// SLIDER
// CALL TO ACTION "SHOW BEST OFFER"
.cta-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-image: url(/img/painted-hands.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba($color-grey-dark-9, 0.7);

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    background-image: url(/img/painted-hands-600.jpg);
  }

  // 500px
  @media only screen and (min-width: $bp-smallest) {
    background-image: url(/img/painted-hands-600.jpg);
    padding: 2.5rem;
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    background-image: url(/img/painted-hands-600.jpg);
    padding: 2.5rem;
  }

  // 900px
  @media only screen and (min-width: $bp-medium) {
    background-image: url(/img/painted-hands-600.jpg);
    padding: 4rem;
  }
}

.slider-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-image: url(/img/formula-1-img-1.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(33, 37, 41, 0.7);

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    min-height: 60vh;
    background-image: url(/img/formula-1-600.jpg);
  }

  // 500px
  @media only screen and (min-width: $bp-smallest) {
    min-height: 60vh;
    background-image: url(/img/formula-1-600.jpg);
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    min-height: 80vh;
    background-image: url(/img/formula-1-600.jpg);
    padding: 2.5rem;
  }

  // 900px
  @media only screen and (min-width: $bp-medium) {
    min-height: 80vh;
    padding: 4rem;
  }
}

.cta-text-wrapper,
.slider-text-wrapper {
  min-width: 85vw;
  /* max-width: 72rem; */
}

.cta-heading,
.slider-heading {
  color: $color-grey-light-1;
  font-size: 4rem;
  line-height: 1;
  font-weight: 800;
  padding-bottom: 2rem;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    font-size: 3.5rem;
    line-height: 1;
  }

  // 500px
  @media only screen and (min-width: $bp-smallest) {
    font-size: 3.5rem;
    line-height: 1;
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    font-size: 3.5rem;
    line-height: 1;
  }
}

.cta-paragraph,
.slider-paragraph {
  color: $color-grey-light-1;
  font-size: 1.55rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding-bottom: 1rem;
  max-width: 60vw;
}

.button-cta {
  background-color: $color-primary;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: $color-grey-light-1;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 500;
  margin: 1.8rem 0 0 0;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-cta > a {
  text-decoration: none;
  color: $color-grey-light-1;
}

.button-cta:hover {
  background-color: $color-secondary;
  color: $color-grey-light-1;
}

// HEADING CONTENT
.heading-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.heading-wrapper {
  min-width: 95vw;
}

.heading {
  color: $color-grey-dark-9;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 800;
  padding-left: 1rem;
  margin-top: 2rem;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  // 500px
  @media only screen and (max-width: $bp-smallest) {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-left: 2rem;
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    font-size: 2.5rem;
    line-height: 1.2;
    padding-left: 2rem;
    margin-bottom: 1rem;
  }

  // 900px
  @media only screen and (min-width: $bp-medium) {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}

// LATEST CATEGORY ALBUM CARDS
.categories-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-bottom: 2.5rem;
  margin: 3rem 3rem;
  border-bottom: 1px solid $color-grey-dark-6;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 2rem;
    margin: 0;
  }

  // 500px
  @media only screen and (min-width: $bp-smallest) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 2rem;
    margin: 0;
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 1rem;
    margin: 0;
  }

  // 900px
  @media only screen and (min-width: $bp-medium) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 2rem;
    margin: 2rem;
  }

  // 1100px
  @media only screen and (min-width: $bp-large) {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem 1rem 0 1rem;
  }

  // 1200px
  @media only screen and (min-width: $bp-largest) {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card-descriere-categorie {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow: hidden;
}

.content-wrapper-descriere-categorie {
  padding: 1rem 1rem 1rem 0;
}

.heading-descriere-categorie,
.album-title-small {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: left;
  font-weight: 700;
  color: $color-grey-dark-9;
  text-transform: uppercase;
  margin-bottom: 1.75rem;

  // 600px
  @media only screen and (min-width: $bp-small) {
    margin-bottom: 0.5rem;
  }
  // 600px
  @media only screen and (min-width: $bp-medium) {
    margin-bottom: 1.5rem;
  }
}

.paragraph-descriere-categorie {
  color: $color-grey-dark-10;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 2rem;

  // 600px
  @media only screen and (max-width: $bp-small) {
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
  }

  // 600px
  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
  }
}

.btn-descriere-categorie {
  margin-top: 0.75rem;
  margin-right: 0.25rem;
  font-size: 1rem;
  font-weight: 300;
}

// LATEST CATEGORY ALBUM CARDS HERE

* {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  max-width: 60rem;
}

.image-card {
  display: block;
  width: 100%;
  max-width: 60rem;
  transition: transform 0.5s ease;
  max-width: 100%;
}

.grow {
  display: inline-block;
  overflow: hidden;
}

.grow img {
  transition: all 0.5s ease-in-out;
}

.grow img:hover {
  transform: scale(1.1);
}

.overlay-card {
  position: absolute;
  bottom: 0;
  background: $color-grey-dark-9;
  background: rgba($color-grey-dark-9, 0.7);
  color: $color-grey-light-1;
  width: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  color: $color-grey-light-1;
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: left;
  margin-bottom: 0.2rem;
}

.overlay-card h3 {
  padding-bottom: 0.75rem;
  text-transform: uppercase;
}

.container:hover .overlay-card {
  opacity: 1;
}

// FOOTER MOBILE
/* Accordion */

.accordion-wrapper {
  display: block;
  margin: 1rem 4rem;
  // margin: auto;
}

.accordion__header {
  padding: 1em;
  background-color: $color-grey-dark-9;
  color: $color-grey-light-1;
  border-top: 1px solid $color-grey-dark-6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion__header > * {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.accordion__header.is-active {
  background-color: $color-grey-dark-9;
  color: #fff;
}

.accordion__toggle {
  margin-left: 10px;
  height: 3px;
  background-color: $color-grey-light-1;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
}

.accordion__toggle::before {
  content: '';
  width: 3px;
  height: 13px;
  display: block;
  background-color: $color-grey-light-1;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px;
}

.is-active .accordion__toggle {
  background-color: $color-grey-light-1;
}
.is-active .accordion__toggle::before {
  display: none;
}

.accordion__body {
  display: none;
  padding: 1em;
  // border: 1px solid #ccc;
  // border-top: 0;
}
.accordion__body.is-active {
  display: block;
  background-color: $color-grey-dark-9;
}

/* FOOTER MOBILE */
.footer-container-mobile {
  background-color: $color-grey-dark-9;
}

.footer-wrappermobile {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px $color-grey-dark-8;
  padding-bottom: 0.75rem;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  // 500px
  @media only screen and (min-width: $bp-smallest) {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  // 600px
  @media only screen and (min-width: $bp-small) {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.footer-offers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden;
}

.footer-column {
  padding: 1rem 0.5rem 1.5rem 0;
}

.footer-title-column {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.075em;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  color: $color-grey-light-2;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.footer-column-items {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-column-item-link {
  color: $color-grey-light-2;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.footer-column-item-link:hover,
.copyright-text-link:hover {
  color: $color-grey-dark-6;
  transition-duration: 0.4s;
}

/* SMALL FOOTER */
.small-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  // zero px $bp-zero: 0;
  @media only screen and (min-width: $bp-zero) {
    display: flex;
    flex-direction: column;
  }
}

.copyright-text {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: $color-grey-light-2;
  font-weight: 300;

  @media only screen and (min-width: $bp-zero) {
    padding-bottom: 0.5rem;
  }
}

.copyright-text-link {
  text-decoration: none;
  color: $color-yellow;
}

// FOOTER INITIAL DESKTOP
.footer-container {
  background-color: $color-grey-dark-9;
}

.footer-wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px $color-grey-dark-8;
  padding-bottom: 0.75rem;
}

.footer-offers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden;
}

.footer-column {
  padding: 1rem 0.5rem 1.5rem 0;
}

.footer-title-column {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.075em;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  color: $color-grey-light-2;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.footer-column-items {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-column-item-link {
  color: $color-grey-light-2;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.footer-column-item-link:hover,
.copyright-text-link:hover {
  color: $color-grey-dark-6;
  transition-duration: 0.4s;
}

/* SMALL FOOTER */
.small-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  // 900px
  @media only screen and (min-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 72rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.copyright-text {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: $color-grey-light-2;
  font-weight: 300;
}

.copyright-text-link {
  text-decoration: none;
  color: $color-yellow;
}
