/* 0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet landscpae
1200 - 1800px is where normal styles apply
1800px + : Big desktop */

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-zero: 0;

// 0px
@media only screen and (min-width: $bp-zero) {
  .navbar {
    display: none;
  }

  // MOBILE HEADER
  .mobile {
    display: flex;
    background-color: $color-grey-light-2;

    &__link {
      display: flex;
      align-items: center;
    }
    &__logo-img {
      height: 1.5rem;
      width: auto;
      // margin-top: 0.5rem;
    }
    &__mobile-header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      // max-width: 80vw;
      padding: 1rem 0;
    }
    //   &__hamburger-menu {
    //   }
  }
}

// 500px
@media only screen and (min-width: $bp-smallest) {
  .navbar {
    display: none;
  }
}

// 600px
@media only screen and (min-width: $bp-small) {
  .navbar {
    display: none;
  }
}

// 900px
@media only screen and (min-width: $bp-medium) {
  .navbar {
    display: flex;
  }
  .navmobile {
    display: none;
  }
}

// 1100px
@media only screen and (min-width: $bp-large) {
  .navmobile {
    display: none;
  }
}

// 1200px
@media only screen and (min-width: $bp-largest) {
  .navmobile {
    display: none;
  }
}

// FOOTER MOBILE DESKTOP VERSION

// FOOTER CINFIGURATION
// 500px
@media only screen and (min-width: $bp-smallest) {
  .footer-container {
    display: none;
  }
  .footer-container-mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .small-footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 72rem;

    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px solid $color-grey-dark-6;
    padding-top: 1rem;
  }
}

// 600px
@media only screen and (min-width: $bp-small) {
  .footer-container {
    display: none;
  }
  .small-footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 72rem;

    margin-left: 1rem;
    margin-right: 1rem;
    border-top: 1px solid $color-grey-dark-6;
    padding-top: 2rem;
  }
}

// 900px
@media only screen and (min-width: $bp-medium) {
  .footer-container {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer-container-mobile {
    display: none;
  }
}

// 1100px
@media only screen and (min-width: $bp-large) {
  .footer-container {
    display: grid;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .small-footer-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 72rem;

    margin-left: 1rem;
    margin-right: 1rem;
    // border-top: 1px solid $color-grey-dark-6;
    padding-top: 2rem;
  }

  .footer-container-mobile {
    display: none;
  }

  .small-footer-wrapper-mobile {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 72rem;
    // margin-left: 1rem;
    // margin-right: 1rem;
    border-top: 1px solid $color-grey-dark-6;
    padding-top: 2rem;
  }
}

// 1200px
@media only screen and (min-width: $bp-largest) {
  .footer-container {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer-container-mobile {
    display: none;
  }

  .small-footer-wrapper {
    align-self: center;
    justify-self: center;

    // justify-content: space-between;
  }

  .small-footer-copyright-info:last-child {
    padding-left: 40rem;
  }
}
