@import 'base';
@import 'layout';
@import 'components';

/* SLIDER */

/* CARD ALBUM SMALL */
.album-card-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.album-card-small:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.album-link-small {
  align-items: center;
  text-decoration: none;
}

.album-featured-image-small {
  height: 12rem;
  width: 100%;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.album-description-small {
  padding: 1rem 1rem 2.5rem 1rem;
}

.album-title-small {
  color: $color-grey-dark-9;
  text-align: center;
}

.album-introduction-small {
  color: $color-grey-dark-10;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
}

.album-title-small:hover {
  color: $color-grey-dark-6;
  transition-duration: 0.4s;
}

/* FOOTER */
.footer-container {
  background-color: $color-grey-dark-9;
}

.footer-wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px $color-grey-dark-8;
  padding-bottom: 0.75rem;
}

.footer-offers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden;
}

.footer-column {
  padding: 1rem 0.5rem 1.5rem 0;
}

.footer-title-column {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.075em;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  color: $color-grey-light-2;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.footer-column-items {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-column-item-link {
  color: $color-grey-light-2;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.footer-column-item-link:hover,
.copyright-text-link:hover {
  color: $color-grey-dark-6;
  transition-duration: 0.4s;
}

/* SMALL FOOTER */
.small-footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.copyright-text {
  font-size: 0.85rem;
  line-height: 1.25rem;
  color: $color-grey-light-2;
  font-weight: 300;
}

.copyright-text-link {
  text-decoration: none;
  color: $color-yellow;
}
